img {
    width: 300px;
    height: 300px;
}

body {
    font-family: 'Poppins';font-size: 16px;
}

.subheading {
    font-family: 'Poppins';font-size: 24px;
}

.heading {
    font-family: 'Poppins';font-size: 32px;
}