<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Bootstrap CSS, JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="./EmptyDashboard.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <!--Insert Nav Bar-->
            </div>
        </div>

        <div class="row mx-auto d-flex align-items-center">

            <div class="d-none col-md-2">
                <!--Insert Sidebar-->
            </div>

            <div class="col-12 col-md-10">
                <div class="heading">My Profile</div>

                <div class="card border-0 text-center">
                    <img class="card-img-top p-3" src="../assets/Empty Dashboard.svg" alt="Empty Dashboard">
                    <div class="card-body">
                      <p class="card-text">
                        Start adding components to your dashboard to view them in one look!
                      </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>






    