<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Bootstrap CSS, JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="SeekerProfile.css">
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <!--Insert Sidebar-->
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <!--Insert Nav bar-->
            </div>

            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h2>My Profile</h2>
                            <div class="card" style="height: 90%;">
                                <img class="card-img-top p-3" src="../assets/profile_carousel.jpg" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title text-center p-2">John Doe</h4>
                                  <p class="card-text">
                                    <b>About me:</b>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum gravida dolor sit amet condimentum.
                                  </p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a href="">Edit Profile</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <h3 class="text-center">Property Preference</h3>
                            <div class="card" style="height: 90%;">
                                <div class="card-body">
                                    <p class="card-text">
                                        <div class="box">
                                            <h5>Region</h5>
                                            <span>Toa Payoh</span>
                                        </div>
                                        <div class="box">
                                            <h5>Property Type</h5>
                                            <span>4 Room HDB</span>
                                        </div>
                                        <div class="box">
                                            <h5>Budget</h5>
                                            <span>S$500, 000 to 700,000</span>
                                        </div>
                                        <div class="box">
                                            <h5>Non-Negotiables</h5>
                                            <span>1 Guest Toilet, North South Facing</span>
                                        </div>
                                        <div class="box">
                                            <h5>Good to Haves</h5>
                                            <span>Single loading unit</span>
                                        </div>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="">Edit Preferences</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>



